# Entorno para trabajar con NWB / DANDI / Neuropixels
pynwb>=2.8
dandi>=0.62
remfile>=0.1.13
h5py>=3.10
fsspec>=2024.2.0
aiohttp>=3.9
requests>=2.31
numpy>=1.26
pandas>=2.2
matplotlib>=3.8
jupyterlab>=4.0
# Opcional (Allen Visual Coding con la API nativa de Allen):
allensdk>=2.16
